<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <title>Mon Jeu</title>
</head>
<body>
    <canvas id="Canvas"></canvas>
    <div id="gameArea">
    </div>
    <div id="gameOver" style="display: none;">
        <h1>You lost !</h1>
        <button onclick="replay()">Rejouer</button>
    </div>
    <div id="gameWin" style="display: none;">
        <h1>You win !</h1>
        <button onclick="replay()">Rejouer</button>
    </div>
    <script src="../../Script/Character.js"></script>
    <script src="../../Script/Bot.js"></script>
    <script src="../../Script/Bullet.js"></script>
    <script src="../../Script/Setup.js"></script>
    <script src="../../Script/loose.js"></script>
    <script src="../../Script/win.js"></script>
</body>
</html>
